bootrom/*
docs/warnings.txt
/Makefrag.pkgs
target
*.jar
*.stamp
*.vcd
*.swp
*.swo
*.log
*#
*~
.idea
.DS_Store
env.sh
tags
*~
.bsp/
.conda-env/
.conda-lock-env/
.#*
first-clone-setup-fast-log
.bloop/
.metals/
project/.bloop/
project/metals.sbt
project/project/
.ivy2
.sbt
.classpath_cache/
.vscode/
tests/build/
circt-tar
generators/cute/cutetest/CUTE_resnet50_params.h
generators/cute/cutetest/imagenet/resnet50_params_int8_CUTE_Gloden_transpose_weight.h
generators/cute/cutetest/vec_cute_test/resnet50_params_int8_CUTE_Gloden_transpose_weight.h
generators/cute/cutetest/test_gen/resnet50/*.riscv
generators/gc_accelerator/gc_tests/*.riscv
